.rating {
  background: white;
  margin: 2rem auto;
  border-radius: .5rem;
  padding: .2rem;
}

.starButton {
  background-color: white;
  outline: none;
  border: none;
  padding: .5rem;
  margin: 0 1px;

  &:hover {
    cursor: pointer;
  }
}

.star {
  font-size: 1.5rem;
}

.on {
  color: #24cf00;

}

.error {
  background: white;
  margin: 2rem auto;
  border-radius: .5rem;
  padding: 1.2rem;
  color: red;
}